/* import only the necessary Bootstrap files */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Colors
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #282828;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #FB7837;
$yellow:  #ffbb00;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
     "primary": $yellow
);

$primary:       $blue !default;
$secondary:     $gray-600;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800;

$enable-rounded: true;

$body-bg: #fff;
$body-color: #282828;
$link-color: color("orange");

$component-active-bg: $orange;
$custom-control-indicator-checked-bg:           $orange;
$custom-control-indicator-checked-border-color: $orange;

$font-family-sans-serif: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 700;

$text-muted: $gray-600;

$nav-pills-link-active-bg: $component-active-bg;

$btn-font-family: $font-family-sans-serif;
$btn-font-weight: 600;
$btn-border-radius:           2px;
$btn-border-radius-lg:        2px;
$btn-border-radius-sm:        2px;

$input-btn-padding-y-lg:      .75rem;
$input-btn-padding-x-lg:      1.75rem;
$input-btn-font-size-lg:      $font-size-base;
$input-btn-line-height-lg:    $line-height-lg;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-font-size-lg:            $font-size-base;
$btn-line-height-lg:          $line-height-base;

$breadcrumb-font-size: $font-size-sm;
// $breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
$breadcrumb-bg: $white;

// Import the Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// styles.scss

// Framework: bootstrap

// Fix for list group flushed border
// .list-group-flush .list-group-item:first-child {
//     border-top-width: 0;
// }

// Buttons overrides

.btn-lg {
  text-transform: uppercase;
  letter-spacing: .03125rem;
}
.btn-outline-dark {
  border-color: $gray-200;
  //color: $body-color;
}

.btn--chip {
  border-radius: $border-radius-lg;
  border-color: $gray-200;
  font-weight: $font-weight-normal;
}

// Forms overrides
.form-group label {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * .75; // 12px
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .03125rem;
  font-weight: $font-weight-bold;
}
.form-fieldset {
  margin-bottom: $spacer*2;
}
.form-fieldset__title {} // ...
.form-options-list .custom-control-label {
  display: block;
}

// Forms extended components

.form-selector-section {
  margin-bottom: 2rem;
}
.form-selector-group {
  margin: 1.5rem 0 2rem;
}
.form-selector-fieldset {
  margin: .75rem 0 1.25rem;
}
.form-selector {
  border-color: $gray-400;
  text-align: center;
}
.form-selector:hover {
  border-color: $gray-600;
}
.form-selector .card-body {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.form-selector--selected,
.form-selector--selected:hover {
  background: transparentize($yellow, .95);
  border: 3px solid $yellow;
}

// Navigation

.site-navbar.bg-dark {
  background-color: $gray-900 !important;
}
.navbar-brand-logo {
  max-width: 160px;
  max-height: 28px;
}

// Footer

.site-footer {
  background: $gray-900;
  padding: 3rem 0 2rem;
  //margin-top: 4rem;
  color: $gray-500;
}
.site-footer a {
  color: lighten($link-color, 50%);
}

// Containers: Modified

.container-main-body {
  padding-top: $spacer*2;
  padding-bottom: $spacer*4;
}

.container-bg-light {
  background-color: $gray-200;
}


// Custom: Sitewide
.body-section-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

// Menu
.menu-card {
    &.card {
        border: 0 none transparent;
    }
    .card-body {
        padding: 0;
        position: relative;
    }
    .card-footer {
      padding: .5rem 0;
      background-color: transparent;
      border-top: 0;
    }
}
.menu-card__title {
    font-weight: bold;
    margin: 0;
}

// Pages and components

.page-heading {
  padding: 0 0 $spacer*2;
}
.page-title {
  margin-bottom: $spacer*2;
}

// Page: Dish details

.dish-detail__attributes {
    .badge {
      border: 1px solid $gray-400;
      font-weight: normal;
    }
}
.dish-detail__nutritionFacts {
    .list-group-item {
        padding-left: 0;
        padding-right: 0;
    }
}

// Page: How it works

.opacity-50 {
  opacity: .20;
}
.marketing-hero {
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.questions__item {
  border-bottom: 1px solid $gray-200;
}
.questions__item:last-child {
  border-bottom: none;
}
.questions__title {
  padding: 1.5rem 0;
  margin: 0;
}

// Navbar

.account-navbar .active {
  font-weight: bold;
  color: $body-color;
}

.heading-step-number {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  line-height: 1.375rem;
  color: $white;
  text-align: center;
  background: $gray-900;
  border-radius: 50%;
  font-size: .875rem;
  vertical-align: text-bottom;
}

// Stepper component
// taken from: https://mdbootstrap.com/docs/jquery/components/stepper/#!

.stepper-container {
  border-bottom: 1px solid $hr-border-color;
}
ul.stepper {
  text-decoration: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  counter-reset: section;
}
ul.stepper li a {
    padding: .75rem;
    text-align: center
}
ul.stepper li a:hover {
    text-decoration: none;
}
ul.stepper li a .circle {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    line-height: 1.375rem;
    color: $gray-600;
    text-align: center;
    //background: $gray-500;
    border: 1px solid $gray-600;
    border-radius: 50%;
    font-size: .875rem;
}
ul.stepper li a .label {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-muted;
}
ul.stepper li.active a .label,
ul.stepper li.completed a .label {
    font-weight: 700;
    color: $body-color;
}
ul.stepper li.active a .circle {
    background: $orange;
    border: 1px solid $orange;
    color: $white;
    font-weight: 700;
}
.stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s;
    transition: .5s
}
.stepper-horizontal li a .label {
}
.stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    margin: .25rem 0 0 0;
    content: "";
    background-color: rgba(0,0,0,0.1)
}
.stepper-horizontal li:not(:first-child):before {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    margin: .25rem 0 0 0;
    content: "";
    background-color: rgba(0,0,0,0.1)
}
.stepper-horizontal li:hover {
    background-color: rgba(0,0,0,0.06)
}

@media(max-width: 47.9375rem) {

    .stepper-horizontal {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .stepper-horizontal li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .stepper-horizontal li a .label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: .2rem
    }

    .stepper-horizontal li:not(:last-child):after {
        position: absolute;
        top: 3.75rem;
        left: 2.19rem;
        width: 1px;
        height: calc(100% - 40px);
        content: ""
    }
}
.stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important
}

// Page: Login

.login-form {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(10);
  }
  @include media-breakpoint-up(md) {
    @include make-col(8);
    max-width: 450px !important;
  }
  @include media-breakpoint-up(lg) {
    @include make-col(6);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(4);
  }
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.login-form-container {
  padding: $grid-gutter-width;
  background-color: $white;
  border-radius: $border-radius;
}
.login-form__title {
  font-size: $h3-font-size;
  margin-bottom: $spacer*1.5;
}

// Page: Checkout
.checkout-summary {
  margin-bottom: $spacer*3;
}
