{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  {% include "partials/stepper-purchase.njk" %}

  <main class="container container-main-body">

    <div class="page-heading">
      <h1>Personaliza tu paquete</h1>
    </div>

    <section class="form-selector-section">

      <h4><span class="heading-step-number">1</span> Elige cuántas comidas por día quieres incluir</h4>

      <div class="card-deck form-selector-group">

        <div class="card form-selector">
          <div class="card-body">
            <strong>3 comidas por día</strong><br>
            <span class="small text-muted">Desayuno, comida y cena</span>
          </div>
        </div>
        <div class="card form-selector form-selector--selected">
          <div class="card-body">
            <strong>5 comidas al día</strong><br>
            <span class="small text-muted">Desayuno, comida y cena + 2 snacks</span>
          </div>
        </div>
      </div><!--/card-deck -->

      <hr>

    </section>

    <section class="form-selector-section">

      <h4><span class="heading-step-number">2</span> Elige qué días quieres incluir</h4>

      <div class="card-deck form-selector-group">

        <div class="card form-selector">
          <div class="card-body">
            <strong>Entre semana</strong><br>
            <span class="small text-muted">De lunes a viernes</span>
          </div>
        </div>
        <div class="card form-selector">
          <div class="card-body">
            <strong>Toda la semana</strong><br>
            <span class="small text-muted">De lunes a domingo</span>
          </div>
        </div>
        <div class="card form-selector form-selector--selected">
          <div class="card-body">
            <strong>Solo algunos días</strong><br>
            <span class="small text-muted">Elige cuáles</span>
          </div>
        </div>
      </div><!--/card-deck -->

      <h6>Selecciona qué días quieres incluir en tu paquete</h6>

      <div class="form-selector-fieldset">

        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="custom-control-label" for="inlineCheckbox1">Domingo</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
          <label class="custom-control-label" for="inlineCheckbox2">Lunes</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
          <label class="custom-control-label" for="inlineCheckbox3">Martes</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox4" value="option4" checked>
          <label class="custom-control-label" for="inlineCheckbox4">Miércoles</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="custom-control-label" for="inlineCheckbox5">Jueves</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox6" value="option6">
          <label class="custom-control-label" for="inlineCheckbox6">Viernes</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="inlineCheckbox7" value="option7">
          <label class="custom-control-label" for="inlineCheckbox7">Sábado</label>
        </div>

      </div>


      </div>

      <hr>

    </section>

    <section class="form-selector-section">

      <h4><span class="heading-step-number">3</span> Elige a qué hora pasar a recoger tus comidas</h4>

      <div class="card-deck form-selector-group">

        <div class="card form-selector">
          <div class="card-body">
            <strong>Por las mañanas</strong><br>
            <span class="small text-muted">A partir de las 6 a.m.</span>
          </div>
        </div>
        <div class="card form-selector form-selector--selected">
          <div class="card-body">
            <strong>Por las noches</strong><br>
            <span class="small text-muted">A partir de las 6 p.m.</span>
          </div>
        </div>
      </div><!--/card-deck -->
      <hr>
    </section>

    <section class="form-selector-section">

      <h4><span class="heading-step-number">4</span> Elige cuándo empezar</h4>

      <div class="card-deck form-selector-group">

        <div class="card form-selector">
          <div class="card-body">
            <strong>Esta semana</strong><br>
            <span class="small text-muted">Domingo 12 de abril</span>
          </div>
        </div>
        <div class="card form-selector form-selector--selected">
          <div class="card-body">
            <strong>Siguiente semana</strong><br>
            <span class="small text-muted">Domingo 19 de abril</span>
          </div>
        </div>
      </div><!--/card-deck -->

      <p>Si empiezas esta semana, agregaremos a tu paquete los días restantes de la semana.</p>

      <hr>

    </section>

    <section>

      <p class="text-left">
        <span class="h4">Total <strong>$1,995 MXN</strong></span><br>
        <span class="small text-muted">Incluye 7 días de 5 comidas por día</span><br>
        <a href="02-customize-meals.html" role="button" class="btn btn-lg btn-dark my-3">Elegir comidas</a>
      </p>

    </section>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
