{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  {% include "partials/stepper-purchase.njk" %}

  <main class="container container-main-body">

    <div class="page-heading">
      <h1>Elige tus comidas</h1>
    </div>

    <span class="text-muted">Esta semana</span>

    <h2 class="menu-row__title h3 py-3">Domingo, 12 de abril</h2>

    {% include "partials/menu-row-default.njk" %}

    <span class="text-muted">Siguiente semana</span>

    <h2 class="menu-row__title h3 py-3">Martes, 14 abril</h2>

    {% include "partials/menu-row-default.njk" %}

    <h2 class="menu-row__title h3 py-3">Miércoles, 15 abril</h2>

    {% include "partials/menu-row-default.njk" %}

    <h2 class="menu-row__title h3 py-3">Jueves, 16 abril</h2>

    {% include "partials/menu-row-default.njk" %}

    <h2 class="menu-row__title h3 py-3">Viernes, 17 abril</h2>

    {% include "partials/menu-row-default.njk" %}

    <h2 class="menu-row__title h3 py-3">Sábado, 18 abril</h2>

    {% include "partials/menu-row-default.njk" %}


    <p class="text-left">
      <a href="03-welcome.html" role="button" class="btn btn-lg btn-dark my-3">Continuar compra</a><br>
    </p>

  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
