{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container-fluid container-bg-light">

    <form class="login-form">

      <div class="login-form-container">

        <h1 class="login-form__title">Escribe tu email</h1>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
        </div>

        <div class="pb-3"><!--Spacer--></div>

        <div class="form-group">
          <p><a class="btn btn-lg btn-dark btn-block" href="03-02-01-enter-password.html" type="submit">Continuar</a></p>
          <p><a class="btn btn-lg btn-outline-dark btn-block" href="03-01-signup.html" type="submit">Crear una cuenta</a></p>
        </div>


      </div>

    </form>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
