{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container-fluid container-bg-light">

    <form class="login-form">

      <div class="login-form-container">

        <h1 class="login-form__title">Regístrate para continuar con tu pedido</h1>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
        </div>
        <div class="form-group">
          <label for="inputPassword">Contraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
          <small class="form-text text-muted">Debe tener al menos 6 letras o números</small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Vuelve a escribir tu contraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
        </div>

        <div class="pb-3"><!--Spacer--></div>

        <div class="form-group">
          <p><a class="btn btn-lg btn-block btn-dark" href="03-01-01-account-created.html" type="submit">Registrarme y continuar</a></p>
          <p class="small">Al crear tu cuenta, estás aceptando los <a href=""> términos y condiiones de uso y el Aviso de Privacidad</a> de Beefit.com.</p>
        </div>

        <hr>

        <div class="form-group">
          <p class="small">¿Ya tienes cuenta? <a href="03-02-login.html">Inicia sesión</a></p>
        </div>




      </div>

    </form>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
