{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container-fluid container-bg-light">

    <form class="login-form">

      <div class="login-form-container">

        <h1 class="login-form__title">Ahora, escribe tu contraseña</h1>

        <p>
          <a class="btn btn-sm btn-outline-light btn--chip"><svg width="1rem" height="1rem" viewBox="0 0 16 16" class="text-muted bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
</svg>&nbsp; soyjuanperez@gmail.com <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></a>
        </p>

        <div class="form-group">
          <label for="inputEmail">Contraseña</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
        </div>

        <div class="pb-3"><!--Spacer--></div>

        <div class="form-group">
          <p><a class="btn btn-lg btn-dark btn-block" href="04-checkout.html" type="submit">Ingresar</a></p>
          <p><a class="btn btn-lg btn-outline-dark btn-block" href="03-03-recover-password.html" type="submit">Olvidé mi contraseña</a></p>
        </div>


      </div>

    </form>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
