{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container-fluid container-bg-light">

    <form class="login-form">

      <div class="login-form-container">

        <h1 class="login-form__title">Escribe el código que te enviamos por email</h1>

        <p class="small text-muted">Te enviamos un código a tu email para que puedas accesar a tu cuenta</p>

        <div class="form-group">
          <label for="inputEmail">Código</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="" required autofocus>
        </div>

        <div class="pb-3"><!--Spacer--></div>

        <div class="form-group">
          <p><a class="btn btn-lg btn-dark btn-block" href="" type="submit">Verificar código</a></p>
          <p><a class="btn btn-lg btn-outline-dark btn-block" href="03-02-login.html" type="submit">Reenviar código</a></p>
        </div>


      </div>

    </form>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
