{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container-fluid container-bg-light">

    <form class="login-form">

      <div class="login-form-container">

        <h1 class="login-form__title">¡Hola! Para continuar, ingresa a tu cuenta</h1>

        <div class="pb-3"><!--Spacer--></div>

        <div class="form-group">
          <p><a class="btn btn-lg btn-dark btn-block" href="03-01-signup.html" type="submit">Soy nuevo</a></p>
          <p><a class="btn btn-lg btn-outline-dark btn-block" href="03-02-login.html" type="submit">Ya tengo cuenta</a></p>
        </div>


      </div>

    </form>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
