{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  {% include "partials/stepper-purchase.njk" %}

  <div class="container container-main-body">

    <div class="page-heading">
      <h1>Completa tu pedido de forma segura</h1>
    </div>

    <!-- Checkout -->
    <div class="row checkout">

        <!-- Sidebar order summary -->
        <div class="col-md-5 col-lg-4 order-md-2">

          <div class="card checkout-summary">

            <div class="card-body">

              <h4>Resumen de tu pedido</h4>

              <a class="btn btn-sm btn-outline-light btn--chip"><svg width="1rem" height="1rem" viewBox="0 0 16 16" class="text-muted bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/><path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/></svg>&nbsp; soyjuanperez@gmail.com <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg></a>

            </div><!-- /card-body -->


            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <h6>Paquete personalizado</h6>
                  <small>7 días de 5 comidas por día</small><br>
                  <small class="text-muted">
                    Incluye: desayunos, comidas, cenas y snacks
                  </small><br>
                  <small><a href="#">Ver platillos incluidos</a></small>
              </li>
              <li class="list-group-item">
                  <h6>Recoger en tienda</h6>
                  <small>Plaza San Gerónimo</small> <br>
                  <small class="text-muted">
                    Av. Las Torres #322, San Gerónimo, 523
                  </small>
              </li>
              <li class="list-group-item">
                  <h6>Horario para recoger</h6>
                  <small>Por las tardes</small> <br>
                  <small class="text-muted">
                    A partir de las 6 p.m.
                  </small>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total </span>
                <strong>$1,725 MXN</strong>
              </li>
            </ul>

          </div><!-- / Checkout summary card -->

        </div><!-- Sidebar column -->

        <!-- Main form column -->
        <div class="col-md-7 col-lg-8 order-md-1">

          <form class="needs-validation" novalidate="">

            <!-- Datos de entrega -->
            <div class="form-fieldset">

              <h4 class="form-fieldset__title">Datos para la entrega</h4>

              <div class="form-row">

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="firstName">Nombre(s)</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Ingresa un nombre válido.
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="lastName">Apellido(s)</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Ingresa un apellido válido.
                    </div>
                  </div>
                </div>

              </div><!-- /form-row -->

              <div class="form-row">

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="telephone">Teléfono de contacto</label>
                    <input type="text" class="form-control" id="telephone" placeholder="10 dígitos" value="" required="">
                    <small class="form-text text-muted">Para mantenerte al tanto de tu pedido.</small>
                    <div class="invalid-feedback">
                      Ingresa un teléfono válido.
                    </div>
                  </div>
                </div>

              </div><!-- / form-row -->

              <div class="form-row">

                <div class="form-group">
                  <div class="custom-control custom-checkbox" id="showDelegatePickupFields">
                    <input class="custom-control-input" type="checkbox" name="termsAndConditions" id="delegatePickup">
                    <label class="custom-control-label" for="delegatePickup">Asignar a otra persona para recoger comidas</label>
                  </div>
                </div>

              </div><!-- /form-row -->

              <div class="form-row" style="display:none;" id="delegatePickupFields">

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="firstName">Nombre(s)</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Ingresa un nombre válido.
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="form-group">
                    <label for="lastName">Apellido(s)</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Ingresa un apellido válido.
                    </div>
                  </div>
                </div>

              </div><!-- /form-row -->


            </div><!-- / form-fieldset -->

            <!-- Opciones para recoger -->
            <div class="form-fieldset">

              <h4 class="form-fieldset__title">Recoger en tienda</h4>

              <p><small>Elige la tienda que más te convenga para recoger tus comidas</small></p>

              <div class="card">

                <ul class="list-group list-group-flush form-options-list">
                  <li class="list-group-item">
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="checked">
                      <label class="custom-control-label" for="exampleRadios1">
                        <strong>Plaza San Gerónimo</strong><br>
                        <small class="text-muted">Av. Las Torres #355, San Gerónimo, 523, 77533</small>
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                      <label class="custom-control-label" for="exampleRadios2">
                        <strong>Plaza Las Avenidas</strong><br>
                        <small class="text-muted">Av. Las Torres #355, San Gerónimo, 523, 77533</small>
                      </label>
                    </div>
                  </li>
                </ul>

              </div><!-- /card -->

            </div><!-- /form-fieldset -->

            <!-- Forma de pago -->
            <div class="form-fieldset">

              <h4 class="form-fieldset__title">Forma de pago</h4>

              <p><span class="d-inline-block text-success small"><svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/></svg> Transacción segura</span></p>

              <div class="form-row">

                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <label for="cc-name">Número de tarjeta</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="•••• •••• •••• ••••" required="">
                    {# <small class="text-muted">Full name as displayed on card</small> #}
                    <div class="invalid-feedback">
                      Completa este dato
                    </div>
                  </div>
                </div>

                <div class="col-6 col-lg-3">
                  <div class="form-group">
                    <label for="cc-expiration">Vencimiento</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="MM/AA" required="">
                    <div class="invalid-feedback">
                      Completa este dato
                    </div>
                  </div>
                </div>

                <div class="col-6 col-lg-3">
                  <div class="form-group">
                    <label for="cc-cvv">Código de seguridad</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="•••" required="">
                    <div class="invalid-feedback">
                      Completa este dato
                    </div>
                  </div>
                </div>

              </div><!-- /form-row -->

              <div class="form-row">

                <div class="col-4 col-lg-3">
                  <div class="form-group">
                    <label for="cc-zipCode">Código postal</label>
                    <input type="text" class="form-control" id="cc-zipCode" placeholder="" required="">
                    <div class="invalid-feedback">
                      Completa este dato
                    </div>
                  </div>
                </div>

              </div><!-- /form-row -->

            </div> <!-- / form-fieldset -->

            <!-- Términos y confirmar -->
            <div class="form-fieldset">
              <hr>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" name="termsAndConditions" id="termsCheckbox">
                  <label class="custom-control-label small" for="termsCheckbox">
                    He leido y acepto los <a href="#">términos y condiciones.</a>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <a href="05-confirmation.html" role="button" class="btn btn-lg btn-block btn-dark">Completar pedido</a>
              </div>

            </div><!-- / form-fieldset -->

          </form>

        </div><!-- / Main column -->

      </div><!-- /row -->

  </div><!--/body-container-->

<script type="text/javascript">
$("#showDelegatePickupFields").on("click", function() {
  $("#delegatePickupFields").show();
});
</script>


  {% include "partials/footer.njk" %}

{% endblock %}
