{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-checkout.njk" %}

  <main class="container container-main-body">

    <div class="row justify-content-center">

      <div class="col-sm-10 col-md-8 col-lg-6">

        <div class="page-heading text-center">

          <p class="text-center text-success">
            <svg width="4rem" height="4rem" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </p>

          <h1>¡Gracias! Hemos recibido tu pedido</h1>

          <p>Tu número de orden es: <strong>145523</strong></p>

          <p><a class="btn btn-lg btn-outline-dark" href="account-orders.html" type="submit">Ver todos mis pedidos</a></p>

        </div><!-- / page-heading -->

        <hr>

        <div class="form-fieldset">

          <h4>Detalles del pedido</h4>

          <h6>Datos para la entrega</h6>
          <p>
            <span>Juan Perez</span><br>
            <span class="text-muted">
              soyjuanperez@gmail.com <br>
              Teléfono: (998) 123 1234 <br>
            </span>
          </p>

          <h6>Recoger en tienda</h6>
          <p>
            <span>Plaza San Gerónimo</span><br>
            <span class="text-muted">
              Av. Las Torres #322, San Gerónimo, 523
            </span>
          </p>

          <h6>Horario para recoger</h6>
          <p>
            <span>Por las tardes</span><br>
            <span class="text-muted">
              A partir de las 6 p.m.
            </span>
          </p>


        </div><!-- /form-fieldset -->

        <hr>

        <div class="form-fieldset">

          <h4>Resumen del pedido</h4>

          <h6>Paquete personalizado</h6>
          <p>
            <span>7 días de 5 comidas por día</span><br>
            <span class="text-muted">
              Incluye: desayunos, comidas, cenas y snacks
            </span>
          </p>
          <hr>
          <p class="d-flex justify-content-between">
            <span>Subtotal</span>
            <span>$1,540 MXN</span>
          </p>
          <p class="d-flex justify-content-between">
            <span>IVA</span>
            <span>$235 MXN</span>
          </p>
          <p class="d-flex justify-content-between">
            <span><strong>Total</strong></span>
            <span><strong>$1,775 MXN</strong></span>
          </p>


        </div><!-- /form-fieldset -->

        <hr>

        <div class="form-fieldset">

          <h4>Forma de pago</h4>

          <h6>Tarjeta de crédito</h6>
          <p>
            <span>VISA  ••• 4448</span><br>
            <span class="text-muted">
              Vencimiento 11/22 <br>
              Monto: $1,755 MXN
            </span>
          </p>

        </div><!-- /form-fieldset -->

      </div><!-- / column -->

    </div><!-- / row -->

  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
