{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-account.njk" %}

  <nav aria-label="breadcrumb" class="border-bottom mb-4">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a href="#">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mi perfil</li>
    </ol>
  </nav>

  <div class="container">

    <!-- Checkout -->
    <div class="row">

      {# Sidebar Menu #}
      <div class="col-md-3 mb-4">

        {% include "partials/account-navigation.njk" %}

      </div>

      {# Main column #}
      <div class="col-md-9">

        <div class="page-title">

            <h1>Editar perfil</h1>

        </div>

        <form class="needs-validation" novalidate="">

              <div class="form-group">
                <label for="firstName">Nombre(s)</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="Juan Ernesto" required="">
                <div class="invalid-feedback">Valid first name is required.</div>
              </div>
              <div class="form-group">
                <label for="lastName">Apellido(s)</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="Perez Gómez" required="">
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="holasoyjuan@gmail.com">
                <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
              </div>

              <div class="form-group">
                <a href="dashboard.html" role="button" class="btn btn-dark">Guardar perfil</a>
              </div>

        </form>
      </div>

    </div><!-- /row -->

  </div><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
