{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-account.njk" %}

  <nav aria-label="breadcrumb" class="border-bottom mb-4">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a href="#">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mis pedidos</li>
    </ol>
  </nav>

  <div class="container">

    <!-- Checkout -->
    <div class="row">

      {# Sidebar Menu #}
      <div class="col-md-3 mb-4">

        {% include "partials/account-navigation.njk" %}

      </div>

      {# Main column #}
      <div class="col-md-9">

        <div class="page-title">

          <h1>Mis pedidos</h1>

          <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
              <a class="nav-link active" href="">Activos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account-orders-completed.html">Entregados</a>
            </li>
          </ul>

        </div>


      <div class="card order-item mb-4">

        <div class="card-header">
          <h3 class="h5">Paquete de 5 comidas al día (5 días)</h3>
          <p class="small text-muted m-0">Viernes, 3 de abril, 2020 &middot; Total: $1,799 MXN &middot; <a href="">Ver recibo</a></p>
        </div>

        <div class="card-body">

          <h5>Entregas pendientes</h5>

          <ul class="list-group">
            <li class="list-group-item">

              <h5>Comidas del miércoles 8 de abril</h5>

              <div class="row">
                <div class="col-md-8">
                  <ul class="list-unstyled small">
                    <li>Desayuno: Torta española con espinacas</li>
                    <li>Snack de la mañana: Batido de avena con fresas</li>
                    <li>Comida: Pechuga de pollo al horno con vegetales</li>
                    <li>Snack de la tarde: Palitos de apio y zanahoria</li>
                    <li>Cena: Sandwich de vegetales verdes</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h6>Recoger en sucursal</h6>
                  <p class="small">
                    Plaza San Gerónimo<br>
                    A partir de las 6 a.m.
                  </p>
                </div>


              </div>
            </li>
            <li class="list-group-item">

              <h5>Comidas del martes 7 de abril</h5>

              <div class="row">
                <div class="col-md-8">

                  <ul class="list-unstyled small">
                    <li>Desayuno: Torta española con espinacas</li>
                    <li>Snack de la mañana: Batido de avena con fresas</li>
                    <li>Comida: Pechuga de pollo al horno con vegetales</li>
                    <li>Snack de la tarde: Palitos de apio y zanahoria</li>
                    <li>Cena: Sandwich de vegetales verdes</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h6>Recoger en sucursal</h6>
                  <p class="small">
                    Plaza San Gerónimo<br>
                    A partir de las 6 a.m.
                  </p>
                </div>

              </div>
            </li>
          </ul>

          <div class="mb-3"><!--Spacer--></div>

          <h5>Entregas realizadas</h5>

          <ul class="list-group">

            <li class="list-group-item">

              <h5>Comidas del lunes 6 de abril</h5>

              <div class="row">
                <div class="col-md-8">

                  <ul class="list-unstyled small">
                    <li>Desayuno: Torta española con espinacas</li>
                    <li>Snack de la mañana: Batido de avena con fresas</li>
                    <li>Comida: Pechuga de pollo al horno con vegetales</li>
                    <li>Snack de la tarde: Palitos de apio y zanahoria</li>
                    <li>Cena: Sandwich de vegetales verdes</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h6 class="text-success">Entregado</h6>
                  <p class="small">
                    <span class="">Lunes 7 abril, 6:45 a.m.</span><br>
                    Recibió: Juan Perez
                  </p>
                </div>

              </div>
            </li>
            <li class="list-group-item">

              <h5>Comidas del domingo 5 de abril</h5>

              <div class="row">
                <div class="col-md-8">

                  <ul class="list-unstyled small">
                    <li>Desayuno: Torta española con espinacas</li>
                    <li>Snack de la mañana: Batido de avena con fresas</li>
                    <li>Comida: Pechuga de pollo al horno con vegetales</li>
                    <li>Snack de la tarde: Palitos de apio y zanahoria</li>
                    <li>Cena: Sandwich de vegetales verdes</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h6 class="text-success">Entregado</h6>
                  <p class="small">
                    <span class="">Martes 7 abril, 6:45 a.m.</span><br>
                    Recibió: Juan Perez
                  </p>
                </div>

              </div>
            </li>
          </ul>

          <p class="mt-3"><a href="">Ocultar entregas realizadas</a></p>

          </div><!-- /card-body -->

      </div>

      {# Collapsed #}

      <div class="card order-item mb-4">

        <div class="card-header">
          <h3 class="h5">Paquete de 3 comidas al día (5 días)</h3>
          <p class="small text-muted m-0">Viernes, 3 de abril, 2020 &middot; Total: $1,799 MXN &middot; <a href="">Ver recibo</a></p>
        </div>

        <div class="card-body">

          <h5>Siguiente entrega</h5>

          <ul class="list-group">
            <li class="list-group-item">

              <h5>Comidas del miércoles 8 de abril</h5>

              <div class="row">
                <div class="col-md-8">
                  <ul class="list-unstyled small">
                    <li>Desayuno: Torta española con espinacas</li>
                    <li>Comida: Pechuga de pollo al horno con vegetales</li>
                    <li>Cena: Sandwich de vegetales verdes</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h6>Recoger en sucursal</h6>
                  <p class="small">
                    Plaza San Gerónimo<br>
                    A partir de las 7 p.m.
                  </p>
                </div>


              </div>
            </li>
          </ul>

          <p class="mt-3"><a href="">Ver entregas realizadas</a></p>

          </div><!-- /card-body -->

      </div>




    </div><!-- /column main -->

    </div><!-- /row -->

  </div><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
