{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-account.njk" %}

  <nav aria-label="breadcrumb" class="border-bottom mb-4">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a href="#">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Preferencias dietéticas</li>
    </ol>
  </nav>

  <div class="container">

    <!-- Checkout -->
    <div class="row">

      {# Sidebar Menu #}
      <div class="col-md-3 mb-4">

        {% include "partials/account-navigation.njk" %}

      </div>

      {# Main column #}
      <div class="col-md-9">

        <div class="page-title">

            <h1>Preferencias dietéticas</h1>

        </div>

        <div class="card">
          <div class="card-body">
            <p class="card-text">Aquí pronto podrás elegir los ingredientes que quieres evitar en tus comidas.</p>
            {# <a href="#" class="btn btn-primary">Detalle</a> #}
          </div>
        </div>

      </div><!-- /column -->

    </div><!-- /row -->

  </div><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
