{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-account.njk" %}

  <nav aria-label="breadcrumb" class="border-bottom mb-4">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
    </ol>
  </nav>

  <div class="container">

    <!-- Checkout -->
    <div class="row">

      {# Sidebar Menu #}
      <div class="col-md-3 mb-4">

        {% include "partials/account-navigation.njk" %}

      </div>

      {# Main column #}
      <div class="col-md-9">

        <div class="page-title">

            <h1>Mi cuenta</h1>

        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mis pedidos</h5>
            <p class="card-text">Tienes 4 paquetes activos</p>
            <a href="account-orders.html" class="btn btn-dark">Ver pedidos</a>
          </div>
        </div>

        <div class="mb-4"></div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formas de pago</h5>
            <p class="card-text">No tienes formas de pago guardadas aún. Puedes agregar una tarjeta de crédito o débito para agilizar tus compras.</p>
            <a href="#" class="btn btn-dark disabled" aria-disabled="true">Agregar una tarjeta</a>
          </div>
        </div>


      </div>

    </div><!-- /row -->

  </div><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
