{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation-account.njk" %}

  <nav aria-label="breadcrumb" class="border-bottom mb-4">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"><a href="#">Mi cuenta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Formas de pago</li>
    </ol>
  </nav>

  <div class="container">

    <!-- Checkout -->
    <div class="row">

      {# Sidebar Menu #}
      <div class="col-md-3 mb-4">

        {% include "partials/account-navigation.njk" %}

      </div>

      {# Main column #}
      <div class="col-md-9">

        <div class="page-title">

            <h1>Formas de pago</h1>

        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No hay formas de pago guardadas en tu cuenta</h5>
            <p class="card-text">Puedes agregar una tarjeta de crédito o débito para agilizar tus compras.</p>
            <a href="#" class="btn btn-dark disabled" aria-disabled="true">Agregar una tarjeta</a>
          </div>
        </div>

        {# <div class="card my-3">
          <div class="card-body">
            <h5 class="card-title">VISA *4448</h5>
            <p class="card-text">JUAN E PEREZ GOMEZ</p>
            <a href="#" class="btn btn-primary">Cambiar forma de pago</a>
          </div>
        </div> #}

        {# Add card form #}

        {# <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">País</label>
            <select class="custom-select d-block w-100" id="country" required="">
              <option value="">Elegir...</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">Estado</label>
            <select class="custom-select d-block w-100" id="state" required="">
              <option value="">Choose...</option>
              <option>California</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required="">
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
        </div> #}

        {# <h3>Billing address</h3>

        <div class="form-group">
          <label for="address">Dirección</label>
          <input type="text" class="form-control" id="address" placeholder="" required="">
          <div class="invalid-feedback">Please enter your shipping address.</div>
        </div>

        <div class="form-group">
          <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="">
        </div> #}


      </div><!-- /column -->

    </div><!-- /row -->

  </div><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
