{% extends "layout-account.njk" %}

{% block sidebar %}

    {% include "partials/admin-sidebar.njk" %}

{% endblock %}


{% block main %}

  <div class="page-title">

      <h1>Entregas</h1>

        <div class="btn-toolbar my-3 bg-light p-3" role="toolbar">

          <div class="input-group mr-3">
            <div class="input-group-prepend">
                      <div class="input-group-text" id="btnGroupAddon">Fecha</div>
                    </div>
            <input type="text" class="form-control" placeholder="Buscar..." value="06/04/2020">
          </div>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" checked> Mañana
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2"> Noche
            </label>
          </div>

          <div class="input-group ml-3">
            {# <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">@</div>
            </div> #}
            <input type="text" class="form-control" placeholder="Buscar...">
          </div>

        </div>

    </div><!-- / page-title -->

    {% for i in range(0, 5) -%}

    <div class="card order-item mb-4">

      <div class="card-header">
        <h3 class="h5">Juan Perez</h3>
        <p class="small text-muted m-0">juanernestoperez@gmail.com</p>
      </div>



        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex justify-content-between border-bottom mb-3">
              <h5>Paquete de 3 comidas</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Entregado
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <ul class="list-unstyled small">
                  <li>Desayuno: Torta española con espinacas</li>
                  <li>Comida: Pechuga de pollo al horno con vegetales</li>
                  <li>Cena: Sandwich de vegetales verdes</li>
                </ul>
              </div>

              <div class="col-md-4">

                <h6>Recoger en sucursal</h6>
                <p class="small">
                  Plaza San Gerónimo<br>
                  A partir de las 7 p.m.
                </p>
              </div>


            </div>
          </li>
          <li class="list-group-item">

            <div class="d-flex justify-content-between border-bottom mb-3">
              <h5>Paquete de 5 comidas</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Entregado
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">

                <ul class="list-unstyled small">
                  <li>Desayuno: Torta española con espinacas</li>
                  <li>Snack de la mañana: Batido de avena con fresas</li>
                  <li>Comida: Pechuga de pollo al horno con vegetales</li>
                  <li>Snack de la tarde: Palitos de apio y zanahoria</li>
                  <li>Cena: Sandwich de vegetales verdes</li>
                </ul>
              </div>

              <div class="col-md-4">
                <h6>Recoger en sucursal</h6>
                <p class="small">
                  Plaza San Gerónimo<br>
                  A partir de las 7 p.m.
                </p>
              </div>


            </div>
          </li>
        </ul>


    </div>

    {%- endfor %}


{% endblock %}
