{% extends "layout-account.njk" %}

{% block sidebar %}

    {% include "partials/admin-sidebar.njk" %}

{% endblock %}


{% block main %}

  <div class="page-title">

      <h1>Pedidos</h1>

        <div class="btn-toolbar my-3 bg-light p-3" role="toolbar">

          <div class="input-group mr-3">
            <div class="input-group-prepend">
                      <div class="input-group-text" id="btnGroupAddon">Fecha</div>
                    </div>
            <input type="text" class="form-control" placeholder="Buscar..." value="06/04/2020">
          </div>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" checked> Mañana
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2"> Noche
            </label>
          </div>

        </div>

    </div><!-- / page-title -->

  {# <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
    </div>
  </div> #}

  <h3 class="h4">Desayunos</h3>
  <table class="table mt-3 mb-5">
    <thead>
      <tr>
        <th scope="col">Platillo</th>
        <th scope="col">Cant.</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 5) -%}
      <tr>
        <td>Tortilla española</td>
        <td>2</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  <h3 class="h4">Snacks de la mañana</h3>
  <table class="table mt-3 mb-5">
    <thead>
      <tr>
        <th scope="col">Platillo</th>
        <th scope="col">Cant.</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 5) -%}
      <tr>
        <td>Tortilla española</td>
        <td>2</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  <h3 class="h4">Comidas</h3>
  <table class="table mt-3 mb-5">
    <thead>
      <tr>
        <th scope="col">Platillo</th>
        <th scope="col">Cant.</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 5) -%}
      <tr>
        <td>Tortilla española</td>
        <td>2</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  <h3 class="h4">Snacks de la tarde</h3>
  <div class="alert alert-info mt-3 mb-5">
    No es necesario preparar Snacks de la tarde para este turno
  </div>

  <h3 class="h4">Cenas</h3>
  <table class="table mt-3 mb-5">
    <thead>
      <tr>
        <th scope="col">Platillo</th>
        <th scope="col">Cant.</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, 5) -%}
      <tr>
        <td>Tortilla española</td>
        <td>2</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{% endblock %}
