{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <main class="container">

    <div class="dish-detail">

      <div class="page-heading">

          <p><a href="package-customization.html">&larr; Regresar al menú</a></p>

          <h1 class="dish-detail__title mb-0">Classic Roast Chicken</h1>

          <small class="text-muted">699 calorías por porción</small>

          <p class="dish-detail__attributes my-2">
            <span class="badge badge-light p-2">Sin gluten</span>
            <span class="badge badge-light p-2">Sin lactosa</span>
            <span class="badge badge-light p-2">Bajo en carbohidratos</span>
          </p>

          <p class="dish-detail__description">Fina pechuga de pollo a la plancha, sazonada con finas hierbas y acompañada de papas al horno con un ligero gratinado de parmesano.</p>

      </div>

      <img class="img-fluid dish-detail__cover mb-4" src="https://source.unsplash.com/-CnqYh_xYqo/1280x480" alt="">

      <!-- {% include "partials/dish-detail-carousel.njk" %} -->

      <h3 class="body-section-heading">Ingredientes</h3>

      <ul class="list-inline">
        <li class="list-inline-item">Chicken (340 g),</li>
        <li class="list-inline-item">Kosher salt,</li>
        <li class="list-inline-item">Freshly ground black pepper,</li>
        <li class="list-inline-item">Yellow onion</li>
        <li class="list-inline-item">Carrot,</li>
        <li class="list-inline-item">Celery,</li>
        <li class="list-inline-item">Baby potatoes (225 g),</li>
        <li class="list-inline-item">Garlic (1 clove),</li>
        <li class="list-inline-item">Butter (3 tbsp.),</li>
        <li class="list-inline-item">Lemon (1 piece),</li>
        <li class="list-inline-item">Fresh thyme</li>
      </ul>

      <h3 class="body-section-heading">Preparación</h3>

      <p>Abrir recipiente parcialmente y calentar 5 min en microondas (potencia alta). Dejar enfriar 1 min y servir.</p>

      <h3 class="body-section-heading">Información nutricional</h3>

      <ul class="list-group list-group-flush dish-detail__nutritionFacts">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Calorías
          <span class="dish-detail__nutritionFacts-value">699 cal.</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Proteínas
          <span class="dish-detail__nutritionFacts-value">21 g</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Grasas
          <span class="dish-detail__nutritionFacts-value">27 g</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Carbohidratos
          <span class="dish-detail__nutritionFacts-value">43 g</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Fibra dietética
          <span class="dish-detail__nutritionFacts-value">7 g</span>
        </li>
      </ul>

    </div><!-- /row -->

    <p class="text-center">
        <a href="checkout.html" role="button" class="btn btn-lg btn-block btn-primary my-2">Elegir como desayuno<br><span class="small">Para el jueves, 27 de febrero</span></a>
    </p>

    <p><a href="package-customization.html" class="btn btn-link btn-block">&larr; Regresar al menú</a></p>

  </main><!--/body-container-->

  {% include "partials/footer.njk" %}

{% endblock %}
