{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <main class="container">

      <div class="page-heading">

        <p><a class="btn btn-link" href="package-customization.html">&larr; Regresar al menú</a></p>

        <h1 class="dish-detail__title mb-0">Elige tu desayuno para mañana jueves, 27 de febrero</h1>

      </div>

      <div class="row menu-row">

          {% for i in range(0, 5) -%}

              <div class="col-6 col-md-4">

                <div class="card menu-card mb-5">

                    <a href="change-dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>

                      <div class="card-body" style="position:relative;">
                        <small class="text-muted">Desayuno</small>
                        <h2 class="card-text h4 my-0">Classic Roast Chicken</h2>
                        <small class="text-muted">699 cal</small>
                        <p class="dish-detail__description">Fina pechuga de pollo a la plancha, sazonada con finas hierbas y acompañada de papas al horno con un ligero gratinado de parmesano.</p>
                        <a href="dish-detail.html" class="stretched-link"></a>
                      </div>
                      <div class="card-footer">
                        <a href="package-customization.html" class="btn btn-primary">Seleccionar</a>
                        <a href="change-dish-detail.html" class="btn btn-link">Detalles</a>
                      </div>

                </div><!-- /card -->

              </div><!-- /row -->

          {%- endfor %}

      </div>

      <hr>

      <p><a href="package-customization.html" class="btn btn-link btn-block">&larr; Regresar al menú</a></p>

  </main><!--/body-container-->

  {% include "partials/footer.njk" %}

{% endblock %}
