{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <main class="container">

    <div class="page-heading py-3">

        <div class="alert alert-success py-4 mt-3 mb-5">
          <h5>¡Listo! Tu pedido ha sido realizado</h5>
          <p class="mb-0">Puedes cambiar los platillos antes de que se preparen.</p>
        </div>

        <h1>Tu paquete <a href="#" class="btn btn-link btn-sm ml-3">Historial de entregas</a></h1>

    </div>

    <!-- En preparación -->

    {% for i in range(0, 1) -%}

    <h2 class="menu-row__title h3 py-3">Para mañana jueves, 7 de nov <span class="small text-muted float-right">En preparación</span></h2>

    <div class="row menu-row">

        {% for i in range(0, 5) -%}

            <div class="col-6 col-md-4">
              <div class="card menu-card my-3">
                <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
                <div class="card-body">
                  <small class="text-muted">Comida</small>
                  <p class="card-text menu-card__title">Classic Roast Chicken</p>
                  <small class="text-muted">699 cal</small>
                  <a href="dish-detail.html" class="stretched-link"></a>
                </div>
                {# <div class="card-footer">
                    <a href="change-dish.html" class="card-link">Cambiar</a>
                </div> #}
              </div>
            </div>

        {%- endfor %}
    </div>

    <hr>

    {%- endfor %}


    <!-- En proceso -->
    {% for i in range(0, 2) -%}

    <h2 class="menu-row__title h3 py-3">Para el sábado, 9 de nov</h2>

    <div class="row menu-row">

        {% for i in range(0, 5) -%}

            <div class="col-6 col-md-4">
              <div class="card menu-card my-3">
                <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
                <div class="card-body">
                  <small class="text-muted">Comida</small>
                  <p class="card-text menu-card__title">Classic Roast Chicken</p>
                  <small class="text-muted">699 cal</small>
                  <a href="dish-detail.html" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <a href="change-dish.html" class="card-link">Cambiar</a>
                </div>
              </div>
            </div>

        {%- endfor %}
    </div>

    <hr>

    {%- endfor %}

    <div class="mt-5">

      <h2>Siguiente semana</h2>

      <p>Ordena el mismo paquete para la siguiente semana del 16 al 22 de diciembre.</p>

      <a href="#" class="btn btn-primary">Sí, quiero otro paquete</a>

    </div>


  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
