{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <main class="container">

    <form class="form-signin col-sm-8 col-md-6 col-lg-4 mx-auto my-4">

      <div class="text-center my-5">
        <img class="mx-auto" src="/assets/images/logo-beefit-placeholder.svg" alt="Beefit logo">
      </div>

      <h1 class="h3 mb-3">Recuperar contraseña</h1>
      <p>Ingresa el email asociado con tu cuenta para recibir las instrucciones de cómo recuperar tu cuenta.</p>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar instrucciones</button>

    </form>

  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
