{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <div class="jumbotron jumbotron-fluid jumbotron--compact">
    <div class="container">
      <h1>Hola, ¿cómo te podemos ayudar?</h1>
    </div>
  </div>

  <main class="container">

    <div class="questions">

      {% for i in range(0, 5) -%}

        <div class="questions__item">

          <h3 class="h4 questions__title" data-toggle="collapse" href="#questionOne" role="button" aria-expanded="false" aria-controls="collapseExample">¿Donde puedo encontrar información sobre alergenos?</h3>

          <div class="collapse questions__answer" id="questionOne">
            <p>Our menu + nutrition guide are available here. Our nutrition guide has a breakdown of each salad on our menu + ingredients for our cooked toppings, drinks, and dressings. Details about allergen information and which cheeses are pasteurized can be found here as well.</p>
            <p>Our menu + nutrition guide are available here. Our nutrition guide has a breakdown of each salad on our menu + ingredients for our cooked toppings, drinks, and dressings. Details about allergen information and which cheeses are pasteurized can be found here as well.</p>
          </div>

      </div>

    {%- endfor %}

    </div>

  </main><!--/body-container-->

  {% include "partials/footer.njk" %}

{% endblock %}
