{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <div class="jumbotron jumbotron-fluid marketing-hero" style="background-image: url('https://source.unsplash.com/Ww8eQWjMJWk/1280x540');">
    <div class="container">
      <h1>Comida fresca y saludable sin esfuerzo</h1>
      <p >Cras sapien nisi, fermentum in quam ac, ornare hendrerit diam. Mauris at mauris tortor. Fusce feugiat sodales sem, eget viverra quam accumsan eget.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Más información</a></p>
    </div>
  </div>


  <main class="container">

    <h2>Cómo funciona</h2>

    <div class="row py-3">

      <div class="col-md-4 mb-3">
        <h3 class="h4"><span class="badge badge-primary mb-3">1</span><br> Elige tu plan</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h3 class="h4"><span class="badge badge-primary mb-3">2</span><br> Elige dónde y cuándo recoger tus comidas</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h3 class="h4"><span class="badge badge-primary mb-3">3</span><br> Lorem ipsum dolor sit amet</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
    </div>

    <hr class="my-4">

    <h2 id="faq">Preguntas frecuentes</h2>

    <div class="row py-3">

      {% for i in range(0, 5) -%}

      <div class="col-md-4 mb-3">
        <h3 class="h4"><span class="badge badge-primary mb-3">?</span><br> Lorem ipsum dolor sit amet</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
      </div>

      {%- endfor %}

    </div>

    <h2 class="text-center mt-4">Ordena tu paquete desde $1,399 MXN</h4>
      <p class="text-center lead">Puedes personalizar qué platillos incluye</p>
    <p class="text-center">
        <a href="package-customization.html" role="button" class="btn btn-lg btn-primary my-2">Personaliza tu paquete desde $1,399 MXN</a>
        <br> <span>3 comidas por 5 días a la semana</span>
    </p>

  </main><!--/body-container-->

  {% include "partials/footer.njk" %}

{% endblock %}
