{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  {% include "partials/home-hero.njk" %}

  <main class="container">

    <h2 class="pt-3 pb-5 text-center" id="how-it-works">Cómo funciona</h2>

    <div class="row">

      <div class="col-md-4 text-center mb-3">
        <img src="./assets/images/undraw_hamburger.svg" class="img-fluid mb-4 px-5 opacity-50" alt="">
        <h3 class="h4"><span class="badge badge-primary">1</span><br> Personaliza tu plan</h3>
        <p>Elige cuántas comidas diarias y qué días de la semana quieres que te preparemos.</p>
      </div>

      <div class="col-md-4 text-center mb-3">
        <img src="./assets/images/undraw_hamburger.svg" class="img-fluid mb-4 px-5 opacity-50" alt="">
        <h3 class="h4"><span class="badge badge-primary">2</span><br> Elige dónde y cuándo recoger tus comidas</h3>
        <p>Elige la sucursal más cercana y a qué hora te es más fácil recoger tus comidas.</p>
      </div>
      <div class="col-md-4 text-center mb-3">
        <img src="./assets/images/undraw_hamburger.svg" class="img-fluid mb-4 px-5 opacity-50" alt="">
        <h3 class="h4"><span class="badge badge-primary">3</span><br> Elige tus platillos</h3>
        <p>Todos los días podrás cambiar de platillos para el día siguiente.</p>
      </div>
    </div>

    <p class="text-center"><a href="how-it-works.html#faq">Preguntas frecuentes</a> </p>

    <h2 class="text-center mt-5">Ordena tu paquete desde $1,399 MXN</h4>
      <p class="text-center lead">Puedes personalizar qué platillos incluye</p>
    <p class="text-center">
        <a href="01-customize-package.html" role="button" class="btn btn-lg btn-primary my-2">Personaliza tu paquete desde $1,399 MXN</a>
        <br> <span>3 comidas por 5 días a la semana</span>
    </p>

    {% for i in range(0, 1) -%}

    <div class="pt-5 pb-3">
      <h2 class="text-center">Platillos de temporada</h2>
      <p class="text-center lead">Estas son solo algunas de nuestras opciones en el menú</p>
    </div>


    <div class="row menu-row">

        {% for i in range(0, 6) -%}

            <div class="col-6 col-md-4">
              <div class="card menu-card mb-4">
                <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
                <div class="card-body">
                  <small class="text-muted">Comida</small>
                  <p class="card-text menu-card__title">Classic Roast Chicken</p>
                  <small class="text-muted">699 cal</small>
                  <a href="dish-detail.html" class="stretched-link"></a>
                </div>
                {# <div class="card-footer">
                  <span class="small">
                    <a href="change-dish.html" class="card-link">Cambiar</a>
                  </span>
                </div> #}
              </div>
            </div>

        {%- endfor %}
    </div>

    {%- endfor %}

    <h2 class="text-center mt-4">Ordena tu paquete desde $1,399 MXN</h4>
      <p class="text-center lead">Puedes personalizar qué platillos incluye</p>
    <p class="text-center">
        <a href="01-customize-package.html" role="button" class="btn btn-lg btn-primary my-2">Personaliza tu paquete desde $1,399 MXN</a>
        <br> <span>3 comidas por 5 días a la semana</span>
    </p>

  </main><!--/body-container-->


  {% include "partials/footer.njk" %}

{% endblock %}
