{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the navigation partial -->
  {% include "partials/navigation.njk" %}

  <div class="jumbotron jumbotron-fluid jumbotron--compact">
    <div class="container">
      <h1>Información legal</h1>
    </div>
  </div>

  <main class="container">

    <p class="text-uppercase">Beefit S. de R.L.</p>

    <h2>Aviso de Privacidad</h2>
          
    <p>GRUPO DEVAN SA de CV (“GD”) pone a su disposición este aviso de privacidad (el “Aviso de Privacidad”) en cumplimiento de lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, con la finalidad de garantizar la privacidad de sus clientes y cualesquier personas que compartan datos personales con GD. Si comparte datos personales con GD, se entenderá que ha leído y aceptado los términos del Aviso de Privacidad y que para cualquier controversia o reclamación derivada del mismo, se somete a la jurisdicción de los tribunales de la Ciudad de México, Distrito Federal.</p>
    <p>GD, cuyo domicilio fiscal se ubica en la Calle tamaulipas 35 ,Col Santa Lucía, Del. Álvaro Obregó, C.P. 05120, México, Distrito Federal, informa a sus clientes, remitentes y destinatarios de correspondencia electrónica, usuarios del sitio web www.comebien.mx y a cualesquier personas que hayan proporcionado sus datos personales a GD que GD se obliga a guardar la confidencialidad de dichos datos. En virtud de lo anterior, GD no venderá, cederá, compartirá ni transferirá a terceras personas ajenas a GD, sin su consentimiento previo o sin que esto se derive de una obligación legal de GD, sus datos personales. GD únicamente se reserva el derecho de compartir sus datos personales con sus Socios, Consultores, Asociados y Empleados.</p>
    <p>Sus datos personales proporcionados a GD, con o sin ser necesarios una relación profesional o pacto jurídico formal, serán utilizados por GD con la finalidad de comunicar información general y temas legales de interés para GD.</p>
    <p>Como titular de datos personales, usted o su representante legal pueden ejercitar
    los derechos de Acceso, Rectificación, Cancelación u Oposición (también conocidos como Derechos ARCO) mediante correspondencia dirigida a ventas@comebien.mx o al domicilio de GD.</p>
    <p>GD se reserva el derecho a modificar los términos del Aviso de Privacidad
    mediante su publicación en su Sitio Web. GD recomienda revisar el Aviso de Privacidad en
    cada visita a su Sitio Web a efecto de conocer cualquier modificación que se hubiere realizado
    al mismo mismo.</p>

    <p class="small">Última actualización: abril de 2014.</p>

  </main><!--/body-container-->

  {% include "partials/footer.njk" %}

{% endblock %}
