<div class="nav flex-column account-navbar" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" href="account-dashboard.html" role="tab" aria-controls="v-pills-home" aria-selected="true">Mi cuenta</a>
  <a class="nav-link" id="v-pills-orders-tab" href="account-orders.html" role="tab" aria-controls="v-pills-orders" aria-selected="false">Mis pedidos</a>
  <a class="nav-link" id="v-pills-profile-tab" href="account-profile.html" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mi perfil</a>
  <a class="nav-link" id="v-pills-password-tab" href="account-password.html" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cambiar contraseña</a>
  <a class="nav-link" id="v-pills-payment-tab" href="account-payment.html" role="tab" aria-controls="v-pills-profile" aria-selected="false">Formas de pago</a>
  <a class="nav-link" id="v-pills-settings-tab" href="account-preferences.html" role="tab" aria-controls="v-pills-settings" aria-selected="false">Preferencias dietéticas</a>
</div>
