<div class="nav flex-column account-navbar" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-kitchen-shifts-tab" href="admin-shifts-meals.html" role="tab">Pedidos</a>
  <a class="nav-link" id="v-pills-pickups-tab" href="admin-pickups.html" role="tab">Entregas</a>
</div>
