<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-9">
        <p>© Beefit.com 2019. Todos los derechos reservados.</p>
        <p><a href="legal.html">Condiciones de uso y Aviso de Privacidad</a>.</p>
      </div>

      <div class="col-sm-3 text-sm-right">
        <a href="#">Ir arriba</a>
      </div>

    </div>
  </div>
</footer>
