<div class="card-deck mb-3 text-center personalizar-plan">
<div class="card shadow-sm">
  <div class="card-body">
    <h6>3 comidas al día</h6>
    <h2 class="card-title">$89 <small class="">/ comida</small></h2>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">Incluye 3 platos fuertes</li>
    </ul>
    <a href="package-customization.html" class="btn btn-primary mt-3">Elegir paquete</a>
    {# <a href="checkout.html" role="button" class="btn btn-lg btn-block btn-primary">Elegir</a> #}
  </div>
</div>
<div class="card shadow-sm">
  <div class="card-body">
    <h6>5 comidas al día</h6>
    <h2 class="card-title">$69 <small class="">/ comida</small></h2>
    <ul class="list-unstyled list-inline mb-0">
      <li class="list-inline-item">Incluye 3 platos fuertes,</li>
      <li class="list-inline-item">2 snacks</li>
    </ul>
    <a href="package-customization.html" class="btn btn-primary mt-3">Elegir paquete</a>
    {# <a href="checkout.html" role="button" class="btn btn-lg btn-block btn-primary">Elegir</a> #}
  </div>
</div>
</div><!--/card-deck personalizar -->
