<div class="jumbotron jumbotron-fluid marketing-hero" style="background-image: url('https://source.unsplash.com/m7imVSndxoI/1280x680');">
  <div class="container">
    <h1>Comida fresca y saludable sin esfuerzo</h1>
    <p style="max-width: 70%;">Arma tu paquete en línea con nuestros deliciosos y variados platillos. Nosotros nos encargamos de preparar tus alimentos diariamente para total frescura.</p>
    <p><a class="btn btn-primary btn-lg" href="#how-it-works" role="button">Más información</a></p>
  </div>
</div>

{# <div class="page-heading py-5">
  <h1>Comida fresca y saludable sin esfuerzo</h1>
  <p>Tú eliges cuántas comidas incluir y dónde recogerlas.</p>
  <a href="how-it-works.html" class="">Descubre cómo funciona</a>
</div> #}
