<div class="card mb-3">
  <div class="card-body text-center">
    <h5 class="card-title">Haz eliminado las comidas para este día</h5>
    <p class="card-text">Puedes incluirlas de nuevo antes de completar tu pedido.</p>
    <a href="#" class="btn btn-primary">Agregar comidas</a>
  </div>
</div>
