<div class="row menu-row my-3">

    <div class="col">
      <div class="card menu-card">
        <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
        <div class="card-body">
          <small class="text-muted">Desayuno</small>
          <h5 class="card-text menu-card__title">Classic Roast Chicken</h5>
          <small class="text-muted">699 cal</small>
          <a href="dish-detail.html" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <a href="change-dish.html" class="card-link">Cambiar desayuno</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card menu-card">
        <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
        <div class="card-body">
          <small class="text-muted">Snack (mediodía)</small>
          <h5 class="card-text menu-card__title">Classic Roast Chicken</h5>
          <small class="text-muted">699 cal</small>
          <a href="dish-detail.html" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <a href="change-dish.html" class="card-link">Cambiar snack</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card menu-card">
        <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
        <div class="card-body">
          <small class="text-muted">Plato fuerte</small>
          <h5 class="card-text menu-card__title">Classic Roast Chicken</h5>
          <small class="text-muted">699 cal</small>
          <a href="dish-detail.html" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <a href="change-dish.html" class="card-link">Cambiar plato fuerte </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card menu-card">
        <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
        <div class="card-body">
          <small class="text-muted">Snack (tarde)</small>
          <h5 class="card-text menu-card__title">Classic Roast Chicken</h5>
          <small class="text-muted">699 cal</small>
          <a href="dish-detail.html" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <a href="change-dish.html" class="card-link">Cambiar snack</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card menu-card">
        <a href="dish-detail.html"><img src="https://source.unsplash.com/-CnqYh_xYqo/480x320" class="card-img-top" alt=""></a>
        <div class="card-body">
          <small class="text-muted">Cena</small>
          <h5 class="card-text menu-card__title">Classic Roast Chicken</h5>
          <small class="text-muted">699 cal</small>
          <a href="dish-detail.html" class="stretched-link"></a>
        </div>
        <div class="card-footer">
            <a href="change-dish.html" class="card-link">Cambiar cena</a>
        </div>
      </div>
    </div>

</div>

<hr>
