<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-3 bg-dark shadow-sm site-navbar">
    <h5 class="navbar-brand my-0 mr-0 mr-md-auto"><a href="index.html"><img class="navbar-brand-logo" src="./assets/images/logo-beefit-inverted-placeholder.svg" alt="Beefit logo"></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      {# <a class="p-2 text-light" href="how-it-works.html">Cómo funciona</a> #}
      <a class="p-2 text-light" href="help.html">Ayuda</a>
    </nav>
    {# <a class="btn btn-primary" href="#">Inscríbete</a> #}
  </div>
</header>
