<!-- Horizontal Steppers -->
<div class="stepper-container">
<div class="container">
  <div class="row">
    <div class="col">

      <!-- Stepers Wrapper -->
      <ul class="stepper stepper-horizontal">

        <!-- First Step -->
        <li class="active">
          <a href="#!">
            <span class="circle">1</span>
            <span class="label">Personalizar</span>
          </a>
        </li>

        <!-- Second Step -->
        <li class="">
          <a href="#!">
            <span class="circle">2</span>
            <span class="label">Elegir comidas</span>
          </a>
        </li>

        <!-- Third Step -->
        <li class="">
          <a href="#!">
            <span class="circle">
              3
            </span>
            <span class="label">Completar pedido</span>
          </a>
        </li>
        <!-- Third Step -->
        <li class="">
          <a href="#!">
            <span class="circle">
              4
            </span>
            <span class="label">Confirmación</span>
          </a>
        </li>

      </ul>
      <!-- /.Stepers Wrapper -->

    </div>
  </div>
  <!-- /.Horizontal Steppers -->

</div>
</div>
