<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<title></title>
	<link href="./assets/css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700,700i|Barlow:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
</head>
<body>

	<!-- Adds the navigation partial -->
	{% include "partials/navigation-account.njk" %}

	<nav aria-label="breadcrumb" class="border-bottom mb-4">
		<ol class="breadcrumb m-0">
			<li class="breadcrumb-item"><a href="#">Mi cuenta</a></li>
			<li class="breadcrumb-item active" aria-current="page">Current page</li>
		</ol>
	</nav>

  <!-- You write code for this content block in another file -->

	<div class="container">

		<div class="row">

			<div class="col-md-3">

				{% block sidebar %}
				{% endblock %}

			</div>

			<div class="col-md-9">

				{% block main %}
				{% endblock %}

			</div>

		</div>

	</div>

	<!-- Footer -->
	{% include "partials/footer.njk" %}

	<!-- Scripts etc -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
